/** Logo color #4D5AE5 + #2E2F42*/

:root {
  --page-color: #ffffff;
  --main-text: #2e2f42;
  --light-text: #f4f4fd;
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --action-color: #404bbf;
  --description-size: 16px;
  --description-height: 24px;
  --description-spacing: 1.5;
  --letter-spacing: 0.02em;
}

/** COMMON */
body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.description {
  font-weight: 400;
  font-size: var(--description-size);
  line-height: var(--description-height);
  letter-spacing: var(--letter-spacing);
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: var(--letter-spacing);
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: var(--description-spacing);
}
/** HEADER */

/** --Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
}
.accent-color {
  color: var(--accent-color);
}

.dark {
  color: var(--main-text);
}

.light {
  color: var(--light-text);
}

/** NAVIGATION */

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  color: var(--main-text);
}

.nav-link:hover,
.nav-link:focus,
.contact-item > a:hover,
.contact-item > a:focus {
  color: var(--action-color);
}

.contact-item > a {
  font-size: var(--description-size);
  line-height: var(--description-height);
  letter-spacing: var(--letter-spacing);
  font-weight: 400;
  text-decoration: none;
  color: var(--main-color);
}

.address {
  font-style: normal;
}

/** MAIN */

/** HERO */
.hero {
  background: var(--main-text);
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--letter-spacing);
  text-align: center;
}
.hero-button {
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--action-color);
  cursor: pointer;
}

/** FEATURES */

/** SOLUTIONS */

/** TEAM */
.team-section {
  background-color: #f4f4fd;
}

.teammate {
  background-color: var(--page-color);
}

/** FOOTER */
.footer {
  background: var(--main-text);
}

.footer-description {
  color: #f4f4fd;
  line-height: var(--description-height);
  letter-spacing: var(--letter-spacing);
}

/** PORTFOLIO */
/** MAIN */
/** SECTION */
